@model Application.ViewModel.CurrencyInformationViewModel
@{
    ViewData["Title"] = "Index";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    const FunctionResult = () => {
        const vActual = $("#ActualCurrency").val();
        const vDestination = $("#DestinationCurrency").val();
        const vAmount = $("#Amount").val();

        if (vActual < 0) {
            return;
        }
        else if (vDestination < 0) {
            return;
        }
        else if (vAmount<1) {
            return;
        }
        else {
            $.ajax({
                url: "@Url.Action("GetResponse","Converter")",
                type: "POST",
                dataType: 'html',
                data: { "ActualCurrency": vActual, "DestinationCurrency": vDestination, "Amount": vAmount.trim() },
                success: function (response) {
                    console.log(response);

                    $("#partialView").html(response);
                }

            });
        }
    }

    const closeAlert = () => { $(".alert").alert('close') }

    const interChangeCurrency = () => {

        const vActual = $("#ActualCurrency").val();
        const vDestination = $("#DestinationCurrency").val();

        $("#ActualCurrency").val(vDestination).trigger('change');
        $("#DestinationCurrency").val(vActual).trigger('change');
        vActual = "";
        vDestination = "";
    }
</script>
<div class="card bg-light form-shadow col-md-12">
    <div class="card-header form-header">Currency Converter</div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong style="text-align:center;">The price of Dollar is 55.30 DOP and price of Euro is 58.40 DOP</strong>
            <button type="button" class="btn-close" data-dismiss="alert" onclick="closeAlert()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
</div>
    <form method="post" onsubmit="return false;" class="form-design">
        <div class="row d-flex justify-content-center">
            <div class="col">
                <label asp-for="ActualCurrency" class="form-label">From:</label>
                <select asp-for="ActualCurrency" id="ActualCurrency" onchange="FunctionResult()" class="form-select">
                    <option value="-1">Select a Currency</option>
                    <option value="1">Dominican Peso</option>
                    <option value="2">US Dollar</option>
                    <option value="3">Euro</option>
                </select>
            </div>
            <div class="col-sm-1">
                <button type="button" onclick="interChangeCurrency()" class="btn buttonChange"><i class="fa-solid fa-arrow-right-arrow-left arrow-style"></i></button>
            </div>
            <div class="col">
                <label asp-for="DestinationCurrency" class="form-label">To:</label>
                <select asp-for="DestinationCurrency" id="DestinationCurrency" onchange="FunctionResult()" class="form-select">
                    <option value="-1">Select a Currency</option>
                    <option value="1">Dominican Peso</option>
                    <option value="2">US Dollar</option>
                    <option value="3">Euro</option>
                </select>
            </div>
            <div class="col">
                <label asp-for="Amount" class="form-label">Amount:</label>
                <input type="number" step="any" name="Amount" asp-for="Amount" id="Amount" onchange="FunctionResult()" class="form-control" />
            </div>
            <div class="col">
                <button onclick="FunctionResult()" class="btn btn-converter btn-style">Convert</button>
            </div>
        </div>
    </form>
    <div class="container" id="partialView">
    </div>
</div>

