@model Application.ViewModel.CurrencyResponseViewModel

    <div class="row form-design">
        <div class="col">
            <span class="text-response">
                @Model.Amount @Model.ActualCurrency =
            </span>
            <br>
            <span class="second-text"> @Model.Total.ToString("n1") @Model.DestinationCurrency</span>
        </div>
    </div>