@model Application.ViewModel.CurrencyResponseViewModel

    <div class="row form-design">
        <div class="col">
            <span class="text-response">
                <img src="~/Images/{@Model.ActualCurrency}.png" />  @Model.Amount @Model.ActualCurrency =
            </span>
            <br>
            <span class="second-text"><img src="~/Images/{@Model.DestinationCurrency}.png" /> @Model.Total.ToString("n1") @Model.DestinationCurrency</span>
        </div>
    </div>